.project-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-detail {
   display: flex;
   justify-content: space-around;
   padding-top: 20px;
}

.project-container {
    margin: 10px 10%;
}

.project-container h1 {
    /* border: 5px solid white;
    border-radius: 10px; */
    padding: 10px;
    margin: 10px 15%;
}

.project-text {
    width: 40%;
    font-size: large;
    line-height: 40px;
}
.project-image {
    margin: 10px;
    width: 30%;
    height: 30%;
}
.project-item {
    padding: 20px
}

@media only screen and (max-width: 1000px) {
    .project-container{
        margin: 10px 10%;
    }

    .project-image {
        width: 50%;
        height: 50%
    }
}