.project-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.project-detail {
   display: flex;
   justify-content: space-around;
}

.project-container {
    margin: 30px 10%;
}

.project-container h1 {
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ee4b2b, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 75%;
    background-position: -150%; 
    animation: animated-gradient 4s infinite alternate-reverse;
    }

    @keyframes animated-gradient {
        to {
            background-position: 150%;
        }
    }

.project-text {
    width: 40%;
    font-size: large;
    line-height: 40px;
}
.project-image {
    margin: 10px;
    width: 30%;
    height: 30%;
}
.project-item {
    padding: 20px
}

@media only screen and (max-width: 1000px) {
    .project-container{
        margin: 10px 10%;
    }

    .project-image {
        width: 50%;
        height: 50%
    }
}