.contact-container {
    padding: 10px;
    margin: 10px;
}

.contact-container h1 {
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ee4b2b, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 75%;
    background-position: -150%; 
    animation: animated-gradient 4s infinite alternate-reverse;
    }

    @keyframes animated-gradient {
        to {
            background-position: 150%;
        }
    }

.contact-form {
    margin: 10px 15%;
    padding: 20px;
    padding-bottom: 40vh;
}